name: linters

on:
  push:
    branches: [ master ]

  pull_request:
    branches: [ master ]

# This ensures that previous jobs for the PR are canceled when the PR is
# updated.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -e SC1091 -e SC2317

      - name: Set up Go 1.19.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.19.x
        
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.47.3

          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          args: --config ./.golangci.yml

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true

          skip-go-installation: true

          # Optional: if set to true then the action don't cache or restore ~/go/pkg.
          # skip-pkg-cache: true

          # Optional: if set to true then the action don't cache or restore ~/.cache/go-build.
          # skip-build-cache: true
