name: Linters

on:
  push:
    branches: [ master, devel ]

  pull_request:
    branches: [ master, devel ]

# This ensures that previous jobs for the PR are canceled when the PR is
# updated.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.20.x
          check-latest: true
      - uses: ludeeus/action-shellcheck@master
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.52.2
          args: --config ./.golangci.yml --timeout=60m
          skip-go-installation: true
