name: Linters

on:
  push:
    branches: [ master, v4.0 ]

  pull_request:
    branches: [ master, v4.0 ]

# This ensures that previous jobs for the PR are canceled when the PR is
# updated.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.x
          check-latest: true
      - uses: ludeeus/action-shellcheck@master
      - uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0.2
          args: --config ./.golangci.yml --timeout=60m
